/* Resets */
* {
    box-sizing: border-box;
}

h1, h2, h3, p, nav ul {
    margin: 0;
    padding: 5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
   
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a {
    color: inherit;
}

/* Typography */
h1, p, ul li, ol li, a {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

p, ul li, ol li {
    font-size: 18px;
    line-height: 2em;
}

ol li p, ul li p {
    font-size: 14px;
    line-height: 1.5em;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.end {
    margin-left: auto;
}

.fa-house {
    font-size: 36px;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/* Color */
body {
    background-color: rgb(164, 236, 164);
}

main {
    background-color: rgb(222, 222, 222);
}

/* Layout and Positioning */
body {
    display: flex;
    justify-content: center;

    margin: 0;
}

main {
    width: 60%;
    padding: 50px 80px;

    display: grid;
    place-items: start;
}

main p {
    margin: 10px 0;
}

.fa-house {
    position: absolute;
    top: 50px;
    left: 50px;
}

ol li p, ul li p {
    padding-left: 5px;
}

/* Interactivity */

.fa-solid:hover {
    transform: scale(1.1);
}