/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* styles */
h1 {
    font-family: "Hepta Slab", serif;
    font-weight: 400;
    color: #333;
}

h2 {
    font-family: "Bitter", serif;
    font-weight: 500;
    line-height: 1.5em;
    color: #333;
}

p, address, em, ul li, ol li, a {
    font-family: "Bitter", serif;
    font-weight: 400;
    color: #333;
}

header h1, header p, header address, header em, footer p, footer address, footer a {
    color: #e7e7e7;
}

header, footer {
    background-color: #aa72c6;
    position: relative;
}

body {
    background-color: #D9D9D9;
}

section:nth-child(even){
    background-color: rgb(205, 195, 205);
}

section h2 {
    color: #BA4399;
    border-radius: 10px;
    background-color: rgba(207, 145, 191, 0.4);

    display: inline;
    padding: 0.1em 0.2em;
}

section:nth-child(even) h2{
    color: #9646c1;
}

nav li:nth-child(odd) a {
    color: #333;
    font-weight: 700;
}

nav li:nth-child(even) a {
    color: #333;
    font-weight: 700;
}

.content, .image-column {
    margin-top: 1em;
}

.image-column {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-column img, .image-row img {
    width: 600px;
    flex: 1;
}

address {
    padding-bottom: 1em;
}

header .feather-icon {
    display: none;
}

.feather-icon:hover {
    transform: scale(1.1);
}

/* end Resets */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
nav {
    border-top: 2px solid #333;
}

nav ul li a {
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #333;
    text-align: center;
    padding: 10px;

}

header, section, footer {
    padding: 20px;
}

.container {
    max-width: 1000px;
}

h1, h2 {
    margin-bottom: .5em;
}

p {
    line-height: 1.4em;
    margin-bottom: 1em;
}

ol li {
    margin-bottom: 1em;
}

img {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container{ margin: auto; }
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
    .content { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    header .feather-icon {
        display: inline;
        position: absolute;
        top: 1.5em;
        left: 1.5em;

        width: 2em;
        height: 2em;
        stroke-width: 2;
    }
}